<div class="how-to">
    <h1>Wie funktioniert der Rechner?</h1>
    <p>Dieser Abschnitt erklärt, welche Berechnungen das Tool vornimmt, welche Annahmen zugrunde liegen, welche 
        Vereinfachungen gemacht werden und wie der Rechner optimal genutzt werden kann.</p>
    <div class="how-to-rent-vs-buy" id="rent-vs-buy">
        <h2>Mieten oder Kaufen</h2>
        <p>Die Entscheidung, ein Eigenheim zu kaufen oder weiterhin zur Miete zu wohnen, gehört zu den komplexesten 
            finanziellen Überlegungen im Leben. Der Mieten-vs.-Kaufen-Rechner unterstützt dabei, eine fundierte 
            Einschätzung zu treffen, welche Option sich aus finanzieller Sicht langfristig mehr lohnt.</p>
        <h3>Aufbau</h3>
        <h4>Instandhaltung</h4>
        <p>Ein eigenes Haus erfordert regelmäßige Pflege und Instandhaltung, wohingegen diese Aufgaben bei 
            Mietwohnungen der Vermieter übernimmt. Besonders größere Posten wie eine neue Heizung, Fenster oder 
            ein Dach können schnell hohe Kosten verursachen. Beim Hauskauf sollte daher ein Budget für 
            Renovierungs- oder Sanierungskosten eingeplant werden. Ein gängiger Richtwert ist 1% des Kaufpreises 
            pro Jahr, allerdings sollte dieser Wert je nach Alter und Zustand des Hauses großzügig nach oben 
            angepasst werden.</p>
        <h4>Vergleichszeitraum</h4>
        <p>Da der Hauskauf mit erheblichen Nebenkosten verbunden ist, lohnt sich der Vergleich oft nur, wenn 
            geplant ist, über einen längeren Zeitraum in der Immobilie zu leben.</p>
        <h4>Kaufnebenkosten</h4>
        <p>In Deutschland fallen beim Immobilienkauf verschiedene Nebenkosten an, die in der Kalkulation 
            berücksichtigt werden sollten:</p>

        <ul>
            <li><b>Grunderwerbsteuer:</b> Je nach Bundesland zwischen 3,5 % und 6,5 % des Kaufpreises.</li>
            <li><b>Notarkosten:</b> Üblicherweise 1 % bis 2 % des Kaufpreises.</li>
            <li><b>Maklergebühren:</b> Falls ein Makler beauftragt wird, trägt der Käufer häufig 50 % der 
                Gebühren, was etwa 2 % bis 4 % des Kaufpreises ausmacht.</li>
        </ul>
        <p>Da diese Kosten als Prozentsatz des Kaufpreises anfallen, können sie zusammengefasst werden.</p>
        <h4>Abschätzungen</h4>
        <p>Prognosen sind schwierig, da niemand die Zukunft exakt vorhersagen kann. Ziel des Rechners ist 
            es, den Einfluss bestimmter Parameter sichtbar zu machen und ein besseres Verständnis für ihre 
            Auswirkungen zu schaffen.</p>

        <h3>Berechnung</h3>
        <p>Die Grundlage der Berechnung ist, wie viel Vermögen am Ende des Vergleichszeitraums entsteht.</p>
        <h4>Beim Immobilienkauf</h4>
        <ul>
            <li>Das Eigenkapital wird zu Beginn investiert, und laufende Kosten fallen für Zinsen, Tilgung 
                und Instandhaltung an.</li>
            <li>Sobald das Darlehen abbezahlt ist, kann das Geld, das vorher für den Kredit genutzt wurde, 
                angelegt werden und Zinsen generieren.</li>
            <li>Das Endvermögen setzt sich zusammen aus:
                <ul>
                    <li>Verkaufserlös des Hauses (inklusive möglicher Wertsteigerungen), plus generierte Zinsen 
                        falls vorhanden</li>
                        <li>abzüglich aller gezahlten Zinsen, Tilgungszahlungen, Instandhaltungskosten und 
                            eventuell verbleibender Restschulden.</li>
                </ul>
            </li>
        </ul>
        <h4>Beim Mieten</h4>
        <ul>
            <li>Das Eigenkapital wird von Anfang an investiert und erwirtschaftet Zinsen.</li>
            <li>Der Betrag, der durch die Miete eingespart wird (Differenz aus hypothetischen Kreditkosten und der Kaltmiete), 
                wird ebenfalls angelegt.</li>
            <li>Das Endvermögen ergibt sich aus den Zinsen und dem Zinseszins der Anlagen, abzüglich der gezahlten Miete 
                (inklusive Mietsteigerung).</li>
        </ul>
        <h3>Annahmen die getroffen wurden</h3>
        <ul>
        <li><b>Investitionen des Überschusses:</b> Das nicht für Miete oder Haus ausgegebene Geld wird investiert. Die 
            angenommene Rendite hat dabei einen großen Einfluss auf das Ergebnis. Historisch liegt die durchschnittliche 
            Rendite am Aktienmarkt bei etwa 7 %, bei deutschen Staatsanleihen lag die Rendite in den letzten 10 Jahren immer unter 2,5%.</li>
        <li><b>Nebenkosten:</b> Es wird angenommen, dass die Nebenkosten für Mieter und Eigentümer gleich hoch sind.</li>
            </ul>
        <h3>Limitation</h3>
        <ul>
            <li><b>Langfristige Unsicherheit:</b> Da ein Hauskauf oft erst nach vielen Jahren rentabel wird, ist es schwierig, 
                Veränderungen der Lebensumstände vorherzusagen. Eine endgültige Bewertung, ob Kaufen oder Mieten die bessere Wahl war, 
                ist häufig erst im Nachhinein möglich.</li>
            <li><b>Individuelle Unterschiede:</b> Der Rechner bietet eine finanzielle Orientierung, berücksichtigt jedoch keine 
                emotionalen oder persönlichen Präferenzen.</li>
        </ul>
        <h3>Vorteile/Nachteile</h3>
        <p>Die Entscheidung zwischen Kaufen und Mieten ist nicht nur finanzieller Natur, sondern auch eine Frage des Lebensstils:</p>
        <ul>
            <li><b>Mieten</b> bietet Flexibilität und entlastet von Verpflichtungen wie Instandhaltung und Verwaltung.</li>
            <li><b>Kaufen</b> ermöglicht individuelle Gestaltung und langfristige Sicherheit, bringt aber auch Verantwortung und Pflegeaufwand mit sich.</li>
        </ul>
    </div>

    <hr>
    <div class="how-to-repayment" id="repayment">
        <h2>Tilgungsrechner</h2>
        <p>Ein Tilgungsplan veranschaulicht, wie ein Darlehen über die Zeit zurückgezahlt wird. Er zeigt:</p>
        <ul>
            <li>die Aufteilung der monatlichen Raten in Zinsen und Tilgung,</li>
            <li>den verbleibenden Schuldenstand nach jeder Zahlung,</li>
            <li>die Auswirkungen von Sondertilgungen auf Laufzeit und Zinskosten.</li>
        </ul>
        <h3>Sondertilgung</h3>
        <p>Viele Banken erlauben zusätzliche Zahlungen, die direkt die Restschuld reduzieren und somit die Laufzeit 
            verkürzen. Allerdings sollten diese Zahlungen realistisch geplant werden, da unerwartete Ausgaben den finanziellen 
            Spielraum einschränken können.</p>
        <h3>Berechnung</h3>
        <p>Bei einem Annuitätendarlehen bleibt die monatliche Rate konstant. Mit jeder Zahlung sinkt die Restschuld, 
            sodass der Zinsanteil abnimmt und der Tilgungsanteil steigt:</p>
        <p><b>Zinsen pro Monat</b> = Restschuld x Zinssatz / 12</p>
        <p>Der Rest der Rate wird zur Tilgung verwendet.</p>
        <h3>Annahmen die getroffen wurden</h3>
            <ul>
                <li>Der Zinssatz bleibt über die gesamte Laufzeit konstant. Änderungen nach Ablauf der Zinsbindungsfrist werden nicht 
                    berücksichtigt.</li>
                <li>Steuerliche Vorteile, wie die Absetzbarkeit von Zinsen bei vermieteten Immobilien, sind nicht einbezogen.</li>
            </ul>
        <h3>Limitation</h3>
        <p>Ein Tilgungsrechner berücksichtigt nicht, dass sich finanzielle oder persönliche Lebensumstände ändern können. 
            Er dient primär als Werkzeug zur Übersicht und Kalkulation.</p>
        <p>Der Rechner erlaubt zudem die Simulation von Szenarien, die in der Realität keine Bank finanzieren würde, wie etwa 
            extrem lange Laufzeiten von über 100 Jahren oder unrealistisch niedrige Zinsen. Diese Flexibilität soll jedoch bewusst 
            genutzt werden, um verschiedene Szenarien durchzuspielen und ein besseres Verständnis für die Auswirkungen von Parametern 
            wie Zinsen, Tilgungsraten oder Sondertilgungen zu gewinnen.</p>
    </div>
</div>