
.main-footer {
    /* background: #244046; */
    background: #006452;
    padding: 2rem;
    margin-top: 3rem;
}

.main-footer__links {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.main-footer__link {
    display: inline-block;
    margin: 0 1rem;
}

.main-footer__link a {
    color: white;
    text-decoration: none;
}

.main-footer__link a:hover,
.main-footer__link a:active {
    color: #ccc;
}

button{
    background: none;
    border: none;
    color: white;
    font: inherit;
    cursor: pointer;
}

button:hover,
button:active {
    color: #ccc;
}

@media (max-width:510px) {
    .main-footer {
        padding-bottom: 18rem;
    }
}