<footer class="main-footer">
    <nav>
        <ul class="main-footer__links">
            <li class="main-footer__link">
                <a routerLink="/impressum" (click)="logClick()">Impresssum</a>
                 <!-- <button (click)="onShowImpressum()" routerLink="impressum">Impressum</button> -->
            </li>
            <li class="main-footer__link">
                <a routerLink="terms-of-use">Nutzungsbedingungen</a>
                 <!-- <button (click)="onShowTermsOfUse()">Nutzungsbedingungen</button> -->
            </li>
        </ul>
    </nav>
</footer>