html, body{
  height: 100%;
  margin: 0;
}

section {
  flex: 1; /* Der Hauptinhalt nimmt den verbleibenden Platz ein */
  display: block; 
  min-height: calc(100vh - 4.1rem - 9rem);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Clear floats after the columns */
section::after {
  content: "";
  display: table;
  clear: both;
}

