* {
  box-sizing: border-box;
}

.inputData {
  width:65%;  
  float:left;
}

.sidebar{
    position: fixed;
    float: right;
    width: 30%;

  /* top: 80px; 
  right: 20px;  */
  top: 2rem; 
  right: 1rem; 
}


/* Clear floats after the columns */
section::after {
  content: "";
  display: table;
  clear: both;
}

@media (max-width:510px) {
  .inputData {
    width:100%;  
  }

  .sidebar{
    display: inline-flex;
      position: fixed;
      /* float: bottom; */
      width: 100%;
  
    /* top: 80px; 
    right: 20px;  */
    /* top: 2rem; 
    right: 1rem;  */
    top:auto;
    right: auto;
  bottom: 0;
  left: 0;
  }
}