
.backdrop {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
  }

.calculation{
    position: fixed;
    width: 80vw;
    height: 90vh;
    z-index: 2;
    background-color: whitesmoke;
    border-radius: 6px;
    border: none;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.4);
    padding: 1rem;
    max-width: 75rem;
    overflow:scroll;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.calculation h1{
    text-align: center;
    font-size: 2rem;
    color: #006452;
}

.result-table{
    /* margin: 1rem 0; */
    padding: 1rem;
    vertical-align: middle;
    border: 2px solid #e4e4e4;
    border-radius: 8px;
}

table{
    width:80%;
    vertical-align: middle;
    margin: 1rem;
}

th, td {
    border-bottom: 1px solid #ddd;
    /* font-size: 1.5rem; */
    padding: 0.5rem 1rem;
  }

.overall-result{
    font-weight: bold;
}

.t-header{
    display: grid;
}

.th{
    /* display: inline-block;
    vertical-align: middle; */
    position: relative;
    float:left;
}

button{
    padding: 1rem;
    /* margin: 3rem; */
    border: 1px solid black;
    border-radius: 5px;
    background: rgb(211, 211, 211);
    cursor: pointer;
    font: inherit;
    vertical-align: middle;
    margin: 1rem;
  }
  
  button:hover,
  button:active{
    background: rgb(146, 146, 146);
  }

  @media (max-width:510px) {
    .calculation{
    position: fixed;
    /* top: 0;
    left: 0; */
    width: 100vw;
    height: 100vh;
    overflow:scroll;
    }

    .result-table{
      border: none;
    }
  }