
.main-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #006452;
    padding: 0.5rem 1rem;
    z-index: 1;
  }
  
  .main-header > div {
    display: inline-block;
    vertical-align: middle;
  }
  
  .main-header__brand {
    color: white;
    text-decoration: none;
    font-weight: bold;
    /* width: 20px; */
    display: inline-block;
    vertical-align: middle;
  }
  
  .main-header__brand img {
    height: 2.5rem;
    /* width: 100%; */
  }
  
  .main-nav {
    display: inline-block;
    text-align: right;
    width: calc(100% - 44px);
    vertical-align: middle;
  }
  
  .main-nav__items {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .main-nav__item {
    display: inline-block;
    margin: 1rem 1rem;
  }
  
.main-nav__item a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 0.2rem 0.2rem;
  cursor: pointer;
}

.main-nav__item a:hover,
.main-nav__item a:active {
  color: #ccc;
  border-bottom: 5px solid #ccc;
}

@media (max-width:510px) {

  .main-nav__item {
    display: inline-block;
    float:none;
    margin: 0;
  }

  .main-nav__item a {
    font-size: 0.8rem;
  }

  .main-nav__item a:hover,
  .main-nav__item a:active {
    color: #ccc;
    border-bottom: 1px solid #ccc;
  }
}