<header class="main-header">
    
    <div>
        <a href="index.html" class="main-header__brand">
            <img src="/finanz-rechner/images/Icon2.png" alt="Finanzrechner icon">


        </a>
    </div>
    <nav class="main-nav">
        <ul class="main-nav__items">
            <li class="main-nav__item">
                <a routerLink="rent-vs-buy">Mieten vs Kaufen Rechner</a>
            </li>
            <li class="main-nav__item">
                <a routerLink="repayment">Tilgungsrechner</a>
            </li>
            <li class="main-nav__item">
                <a routerLink="how-to">Wie wird es berechnet</a>
            </li>
        </ul>
    </nav>
</header>