<div class="terms-of-use">
    <h1>Nutzungsbedingungen</h1>
    <h2>Nutzungsrechte und Beschränkungen</h2>
    <p>Es sind Ihnen jegliche Handlungen untersagt, die geeignet sind, den Betrieb der Website, 
        deren Funktionen bzw. der dahinter stehenden technischen Infrastruktur zu umgehen, 
        zu manipulieren oder zu beeinträchtigen.</p>
    <h2>Haftungsausschluss</h2>
    <p>Diese Seite wurde erstellt, um einen rechnerischen Vergleich ob Mieten oder Kaufen einer Immobilie besser ist zu erleichtern. 
        Es wurde nach bestem Wissen und Gewissen implementiert, dennoch können wir keine Gewähr für Vollständigkeit, 
        Richtigkeit und Aktualität unserer Rechner sowie sonstiger bereitgestellter Inhalte übernehmen. 
        Wir haften nicht für Schäden jeglicher Art, die Ihnen entstanden sind oder Ihnen drohen, 
        falls Sie unser Internetangebot genutzt und/oder darauf vertraut haben. </p>
        <p>Eine Haftung unserseits besteht lediglich für Vorsatz und grobe Fahrlässigkeit</p>

</div>